
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    margin: 0px auto;
    
    background-color: #FFF8F3;
    width: auto;
    height: auto;
}
/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 40px 150px;
    
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.secondary-bg{
    background-color: #FFF8F3;
}
.nav-title{
font-weight: 800px;
font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;


}
nav ul li{
    list-style: none;
    margin-right: 50px;
   
}
nav li a{
    text-decoration: none;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

/* banner styles */

.banner-greet{
    font-size: 22px;
    font-weight: 600px;
}
.banner-title{
    font-size: 50px;
    color: #181818;
    font-weight: bold;

}
.banner-description{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-prof-pic{
    width: 580px;
    
}
.banner-content{
    max-width: 580px;
}

header{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,  bottom right;

}

.s-title{
    font-size: 35px;
    color: #181818;
}
.s-description{
    font-size: 12px;
    line-height: 30px;
    color: #757575;
}

.about{
    
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}

main{
    margin: 0 auto;
    max-width: 1140px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 12px;
    text-align: center;
    color: #757575;

}

.item-description{
    font-size: 20;
    font-weight: bold;
    text-align: center;
    color: #474747;
    
}

.text-center{
    text-align: center;
}

.skill-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    
}
.section-description{
    padding: 20px 110px;
}

/* resume-section styles */

.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    padding: 0px 130px;

}

.exp-description{
    color: #757575;
    font-size: 14px;
    margin-bottom: 30px;
}
.exp-sub-title{
    color: #757575;
    font-size: 15px;
    font-weight: 600;
}

.exp-title{
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
    font-weight: bold;

}
.exp{
    max-width: 399.8px;
}

.resume-download-cv{
    margin-top: 40px;
}
/* footer styles */

footer{
    display: flex;
    padding: 120px 200px;
    gap: 100px;
}

.foot-des{
    font-size: 14px;
    margin-bottom: 50px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"], footer textarea{
    height: 54px;
    border-radius: 7px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: none;

}

/* responsive media query */

.hide{
    display: none;
}

/* for mobile  */
@media screen and (max-width: 576px) {
  
    .resume-container{
       
        margin: 0 auto;
        width: 90%;
        padding: 5%;
    }
    /* display column  */
    footer, 
    .skill-container,
    .resume-container,
    .banner,
    nav > ul,
    .about-items{
        flex-direction: column;
    }

    nav {
        padding: 2%;
        align-items: flex-start;
        margin: 0 auto;
        
    }
    nav ul li{
        list-style: none;
        margin-right: 0px;
       
    }
    .btn-primary{
        margin-bottom: 20px;
    }

    .banner{
        margin: 0 auto;
        padding: 5%;
    }

    header{
        background-image: none;
        margin: 0 auto;
     
    }
    .banner-prof-pic{
        width: 100%;
    }
    nav > ul{
        gap: 10px;
    }

    footer{
        margin: 0 auto;
        flex-direction: column;
        padding: 5%;

        
    }
    .footer-column{
        padding: 0%;
        width: 80%;
    }
    /* footer input[type="text"], footer textarea{
       width: calc(100%-40px);
    } */
    .btn-msg{
        
        margin: 0 40% 0 40%;

    }
    .about{
        padding: 0%;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .section-description{
        margin: 0 auto;
        padding: 2%;
    }
    
}

/* for tablet  */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .skill-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .resume-container{
        flex: 1;
        margin: 0 auto;
        padding: 0%;
        
    }
    .edu, .exp, .exp-title{
        flex: 1;
        margin: 0 auto;
        
        
    }
    footer{
        padding: 5%;
        flex: 1;

        
    }
    .footer-column{
        padding: 10%;
        width: 100%;
        margin: 0 auto;
    }
    .about-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header{
        margin: 0 auto;
        
    }
    .banner-prof-pic{
        width: 100%;
    }
    .banner{
        flex-direction: column;

    }
    .btn-primary{
        
        margin-bottom: 20px;
    }




}